@page "/"

<MarconiNrReader />
<br />
<div class="alert alert-success">
    Win.Dir Relay is a cloud-based real-time interoperability platform for Windows. It runs on the Marconi Messaging Stack.
</div>
